@if (me$ | async; as me) {
    <app-profile-header
        [profile]="me"
        [isEdit]="true"
    />
    <form
        class="profile-form__wrapper"
        [formGroup]="form"
    >
        <div class="profile-form">
            <div class="two-columns">
                <app-form-field label="First Name" formControlName="firstName" />
                <app-form-field label="Last Name" formControlName="lastName" />
            </div>

            <app-form-field label="Username" formControlName="username" />

            <app-form-field
                label="About me"
                type="textarea"
                [rows]="4"
                formControlName="description"
            />

            <label class="tt-form-label">
                <span class="tt-form-label__text mb8">Avatar</span>
                <app-avatar-upload [initialUrl]="me?.avatarUrl ?? null"/>
            </label>

            <div class="skill-wrapper">
                <app-tag-input label="Skills" formControlName="stack" />
            </div>
        </div>
        <div class="profile-control">
            <div class="profile-control-item__wrapper icon__wrapper">
                <button class="btn inverse" (click)="onDelete()">
                    <svg icon="delete" class="control-icon delete-icon"></svg>
                </button>
                <button class="btn inverse" (click)="onLogout()">
                    <svg icon="logout" class="control-icon"></svg>
                </button>
            </div>
            <div class="profile-control-item__wrapper">
                <button class="btn inverse" (click)="onCancel()">Cancel</button>
                <button class="btn" (click)="onSave()">Save</button>
            </div>
        </div>
    </form>
}