:host {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100dvh;
    align-items: center;
    margin: 0 5%;
}

.auth-content {
}

.auth-logo-zone {
    display: flex;
    justify-content: center;
    align-items: center;
}