@use "fonts";
@use "margins";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: black;
    --light-color: white;
    --primary-color: #AE7AFF;
    --gray-color: #5F646D;
    --dark-hover-color: #161616;
}

body {
    font-family: "JetBrains Mono", sans-serif;
    background-color: var(--dark-hover-color);
    color: var(--light-color);
    height: 100dvh;

    background-image: url(/assets/images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn {
    font-family: "JetBrains Mono", sans-serif;
    border: 1px solid var(--dark-color);
    border-radius: 2px;
    background: var(--primary-color);
    color: var(--dark-color);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    cursor: pointer;
    transition: 200ms;
}

.btn:hover {
    background-color: var(--dark-color);
    border-color: var(--light-color);
    color: var(--light-color);
}

.btn-shadow {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        bottom: -4px;
        right: -4px;
        background-color: var(--gray-color);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;
}

.h4 {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}

.h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.tt-control-label {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.tt-input {
    display: block;
    border: 1px solid var(--light-color);
    border-radius: 2px;
    padding: 12px 20px;
    background-color: var(--dark-color);
    color: var(--light-color);
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    font-family: "JetBrains Mono", sans-serif;
    margin-top: 8px;
    width: 100%;
}

.tt-tip {
    width: 100%;
    text-align: center;
}

.tt-link {
    text-decoration: none;
    color: var(--primary-color);
    transition: 200ms;
}

.tt-link:hover {
    color: var(--light-color);
}

.medium-text {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.regular {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}