<div class="tt-form-tag-input">
    <span class="tt-form-tag-input__text">{{ label }}</span>

    <div class="tag-input__wrapper">
        @for (tag of tagList(); track tag) {
            <app-skill-tag
                [skill]="tag"
                [removable]="true"
                (remove)="removeTag($event)"
            />
        }
        <input
            type="text"
            class="tt-form-tag-input__input"
            [disabled]="disabled()"
            [value]="draft()"
            (input)="onInput($any($event.target).value)"
            (blur)="onBlur()"
            (keydown.enter)="onEnter($event)"
            (keydown.backspace)="onBackspace($event)"
        >
    </div>
</div>