:host {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px
}

.post-feed-fallback {
    padding: 16px;
    background: var(--dark-color);
    border: 1px solid var(--light-color);
    border-radius: 2px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}