@if (profile(); as profile) {
    @if (profile.avatarUrl) {
        <img
            [src]="profile.avatarUrl"
            [alt]="profile.username"
            class="header-avatar"
        >
    }
    @else {
        <img
            src="/assets/images/avatar-placeholder.png"
            alt="avatar"
            class="header-avatar"
        >
    }
    <div class="header-name__wrapper">
        <h4 class="h4 mb4">{{ profile.firstName }} {{ profile.lastName }}</h4>
        <p
            class="regular subtitle"
        >{{ profile.username }}</p>
    </div>
}