:host {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 20px calc(20px + 16px + 44px) 20px;
    gap: 16px;
}

.to-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 44px;
    height: 44px;
    position: fixed;
    bottom: 20px;
}
