:host {
    display: flex;
    flex-flow: column nowrap;
    padding: 24px;
    height: 100%;
}

.profile-list {
    display: grid;
    grid-template-rows: auto;
    gap: 8px;
    height: max-content;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: auto;

    .btn {
        width: auto;
        padding: 8px 16px;

        &:disabled {
            opacity: 0.4;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

.pagination__status {
    color: var(--light-transparent-color);
}
