.tt-form-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tt-form-label__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: var(--light-transparent-color);
}

.tt-form-input {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    border: none;
    border-bottom: 1px solid var(--light-color);
    background: none;
    color: var(--light-color);
    padding: 12px 0;
    height: 46px;
    font-family: "JetBrains Mono", sans-serif;
    outline: none;
}

.tt-textarea {
    height: 84px;
    resize: none;
}