@if (profile$ | async; as profile) {
    <header class="profile-page__header mb24">
        <app-profile-header
            [profile]="profile"
            [isEdit]="false"
        />
        <a class="btn edit-btn"
            [routerLink]="['/settings']"
        >
            Edit
            <svg icon="settings" class="to-settings-icon"></svg>
        </a>
    </header>
    <main class="profile-page__body">
        <app-post-feed />
        <div class="about-me">
            <h6 class="h6 mb16">Subscribers</h6>
            <div class="subscribers-wrapper mb32">
                @if (subscribers$ | async; as subscribers) {
                    @for (subscriber of subscribers; track subscriber.id) {
                        <a class="to-subscriber-avatar-btn"
                            [routerLink]="['/profile', subscriber.id]"
                        >
                            <img
                                [src]="subscriber.avatarUrl"
                                [alt]="subscriber.username"
                                class="subscriber-avatar-icon"
                            >
                        </a>
                    }
                }
                <div class="to-subscribers-search-wrapper">
                    <a class="to-subscribers-search-btn"
                        [routerLink]="['/search']"
                    ></a>
                </div>
            </div>
    
            <h6 class="h6 mb16">Skills</h6>
            <div class="skills-wrapper mb32">
                @for (skill of profile.stack | stackList; track skill) {
                    <div class="skill-tag">{{ skill }}</div>
                }
            </div>
    
            <h6 class="h6 mb16">About me</h6>
            <p class="medium-text">{{profile.description}}</p>
        </div>
    </main>
}
