@if (profile()) {
    <header class="profile-page__header mb24">
        <app-profile-header
            [profile]="profile()!"
            [isEdit]="false"
        />
        @if (isMe()) {
            <a class="btn action-btn"
                [routerLink]="['/settings']"
            >
                Edit
                <svg icon="settings" class="to-settings-icon"></svg>
            </a>
        }
        @else {
            <button
                class="btn action-btn"
                (click)="onToggleSubscribe()"
            >
                {{ isSubscribed() ? 'Unsubscribe' : 'Subscribe' }}
            </button>
        }
    </header>
    <main class="profile-page__body">
        <div class="post-feed__wrapper">
            <app-post-feed
                [profile]="profile()!"
            />

            <a
                class="to-post-bin btn"
                [routerLink]="['/post-bin']"
                >
                <svg icon="delete" class="action-svg"></svg>
            </a>
        </div>
        
        <div class="about-me">
            <div class="mb16 subscriber-text__wrapper">
                <h6 class="h6">Subscribers</h6>
                <span class="subscriber-counter">{{ subscriberCount() }}</span>
            </div>
            <div class="subscribers-wrapper mb32">
                @for (subscriber of subscribers(); track subscriber.id) {
                    <a class="to-subscriber-avatar-btn"
                        [routerLink]="['/profile', subscriber.id]"
                    >
                        <img
                            [src]="subscriber.avatarUrl"
                            [alt]="subscriber.username"
                            class="subscriber-avatar-icon"
                        >
                    </a>
                }
                @empty {
                    <p class="medium-text fallback-text">No subscribers yet</p>
                }
                @if (isMe()) {
                    <div class="to-subscribers-search-wrapper">
                        <a class="to-subscribers-search-btn"
                            [routerLink]="['/search']"
                        ></a>
                    </div>
                }
            </div>
    
            <h6 class="h6 mb16">Skills</h6>
            <div class="skills-wrapper mb32">
                @if (hasSkills()) {
                    @for (skill of profile()!.stack | stackList; track skill) {
                        <div class="skill-tag">{{ skill }}</div>
                    }
                } @else {
                    <p class="medium-text fallback-text">No skills mentioned yet</p>
                }
            </div>
    
            <h6 class="h6 mb16">About me</h6>
            <p class="medium-text">
                {{ profile()?.description || 'Not description left yet' }}
            </p>
        </div>
    </main>
}
