@if (me(); as me) {
    <img
        [src]="me.avatarUrl ? me.avatarUrl : '/assets/images/avatar-placeholder.png'"
        [alt]="me.username"
        class="input-avatar"
    >
    <input
        type="text"
        [value]="comment()"
        (input)="comment.set($any($event.target).value)"
        placeholder="Type something"
        class="post-input"
        [disabled]="isSending()"
        [class.--root]="isRoot"
        (keydown.enter)="onSendQuick($event)"
    >
    <button
        class="btn send-btn"
        [disabled]="isSending()"
        (click)="onSend()"
    >

        <svg icon="send" class="send-icon"></svg>
    </button>
}
